<h1><span class="catchadream" style="color:#fff;font-weight:bold;padding:0 1em">Listing goals</span></h1>
  <div id="goalapp">
	<div class="list_table_container">
	  <table class="list_table">
		<THEAD>
		  <tr>
			<th>Title</th>
			<th></th>
		  </tr>
		</THEAD>
		<TBODY id="list_table_body_id" class="list_table_body">
		<% @goals.each do |goal| %>
		  <tr>
			<td><input id="<%= goal.id %>" type="button" value="<%= goal.title %>" /></td>
			<td><%= link_to 'Destroy', goal, confirm: 'Are you sure?', method: :delete %></td>
		  </tr>
		<% end %>
		</TBODY>
	  </table>
	</div>
	<br />
	<%= link_to 'New Goal', new_goal_path %>
    
    <hr class="catchadream" style="height:5px;border:none;width:100%"></hr>
	<ol id="input-fields" /> 
  </div>
</div>

<script type="text/template" id="input-field-template">
	  <li class="input-field" id="field[{{ fieldName}}]">
	    <div class="label">{{ fieldName }}:</div>
		<div class="field_display">
		  <div class="content">{{ fieldValue }}</div>
		</div>
		<div class="field_edit">
		  <input id="input[{{ fieldName }}]" class="text-input" type="text" value="{{ fieldValue }}" />
		</div>
	  </li>
</script>
